ターゲット遺伝子に関してベン図を作成

In [27]:
import pandas as pd

#両方の実験データから共通で出てきた遺伝子を選出

In [48]:
m6A_data=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/downloads/GSE63591_C-Y1-Ribosome_profiling.csv")
miRNA_1_data=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/symboled_miRNA1.csv")
miRNA_155_data=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/symboled_miRNA155.csv")
display(m6A_data.head(10))
display(miRNA_1_data.head(10))
display(miRNA_155_data.head(10))

,Gene_symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,TE_log2(siYTHDF1/siControl)1,siControl_ribo2,siYTHDF1_ribo2,ribo_log2(siYTHDF1/siControl),siControl_RNA2,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave
0,A4GALT,26.23,17.15,-0.61,3.60,3.39,-0.09,-0.53,3.49,0.87,-2.00,8.36,11.91,0.51,-2.51,-1.31,0.21,-1.52
1,AAAS,160.80,148.75,-0.11,14.76,12.14,-0.28,0.17,41.45,27.44,-0.59,39.22,31.38,-0.32,-0.27,-0.35,-0.30,-0.05
2,AACS,43.31,18.43,-1.23,4.18,3.88,-0.11,-1.12,16.01,8.05,-0.99,9.68,13.93,0.53,-1.52,-1.11,0.21,-1.32
3,AADAT,1.97,3.56,0.86,2.99,2.18,-0.45,1.31,4.48,3.84,-0.22,2.87,3.04,0.08,-0.30,0.32,-0.19,0.50
4,AAED1,57.07,33.83,-0.75,14.53,17.41,0.26,-1.02,47.20,28.77,-0.71,20.16,22.77,0.18,-0.89,-0.73,0.22,-0.95
5,AAGAB,6.59,13.31,1.01,40.07,28.04,-0.51,1.53,18.66,33.61,0.85,34.83,34.94,0.00,0.84,0.93,-0.26,1.19
6,AAK1,0.60,2.74,2.18,3.37,3.93,0.22,1.96,1.31,1.61,0.29,2.62,2.82,0.11,0.18,1.23,0.16,1.07
7,AAMP,36.81,127.20,1.79,13.09,11.63,-0.17,1.96,46.72,22.51,-1.05,40.13,45.91,0.19,-1.25,0.37,0.01,0.36
8,AARS,706.51,315.19,-1.16,117.73,128.06,0.12,-1.29,161.81,88.49,-0.87,131.13,131.65,0.01,-0.88,-1.02,0.06,-1.08
9,AARS2,7.80,11.03,0.50,2.62,3.18,0.28,0.22,2.92,2.23,-0.39,9.06,8.05,-0.17,-0.22,0.06,0.06,0.00

,Ref_seq,miRNA_rnaseq_log2fc,miRNA_footprint_log2fc,miRNA_TranslEff_log2fc,Gene_symbol
0,NM_017846,-0.295928,-0.378120,-0.082192,TRNAU1AP
1,NM_001516,-0.053095,0.294499,0.347595,GTF2H3
2,NM_001517,0.113749,0.271561,0.157811,GTF2H4
3,NM_004034,0.280818,-0.087530,-0.368349,ANXA7
4,NM_016649,0.872146,1.786011,0.913865,ESF1
5,NM_004749,0.153393,0.442090,0.288697,TBRG4
6,NM_016640,0.644354,0.718117,0.073763,MRPS30
7,NM_016641,-0.071881,0.064189,0.136070,GDE1
8,NM_001862,-0.264713,-0.212363,0.052350,COX5B
9,NM_001863,-0.223459,-0.614738,-0.391279,COX6B1

,Ref_seq,miRNA_rnaseq_log2fc,miRNA_footprint_log2fc,miRNA_TranslEff_log2fc,Gene_symbol
0,NM_017847,-0.060577,0.406183,0.466761,ODR4
1,NM_017846,0.407024,0.282027,-0.124997,TRNAU1AP
2,NM_004037,0.331077,0.399803,0.068726,AMPD2
3,NM_016648,0.506770,0.259630,-0.247140,LARP7
4,NM_017840,-0.155882,0.498638,0.654520,MRPL16
5,NM_004749,0.014694,0.310298,0.295604,TBRG4
6,NM_016640,-0.064045,0.180162,0.244207,MRPS30
7,NM_001862,-0.083961,-0.276112,-0.192151,COX5B
8,NM_001863,-0.209096,-0.574364,-0.365269,COX6B1
9,NM_001142290,-0.058827,-0.229699,-0.170872,MGRN1

In [60]:
m6A_miRNA1=pd.merge(m6A_data,miRNA_1_data,on="Gene_symbol")
m6A_miRNA155=pd.merge(m6A_data,miRNA_155_data,on="Gene_symbol")
display(m6A_miRNA1.head(10))
print("m6A_miRNA1 gene:",len(m6A_miRNA1))
display(m6A_miRNA155.head(10))
print("m6A_miRNA155 gene",len(m6A_miRNA155))

,Gene_symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,TE_log2(siYTHDF1/siControl)1,siControl_ribo2,siYTHDF1_ribo2,...,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave,Ref_seq,miRNA_rnaseq_log2fc,miRNA_footprint_log2fc,miRNA_TranslEff_log2fc
0,AAMP,36.81,127.20,1.79,13.09,11.63,-0.17,1.96,46.72,22.51,...,45.91,0.19,-1.25,0.37,0.01,0.36,NM_001087,0.004078,0.207701,0.203623
1,AARS2,7.80,11.03,0.50,2.62,3.18,0.28,0.22,2.92,2.23,...,8.05,-0.17,-0.22,0.06,0.06,0.00,NM_020745,0.270779,0.104831,-0.165949
2,AASDHPPT,34.79,60.04,0.79,29.88,40.08,0.42,0.36,83.91,67.69,...,47.11,0.56,-0.87,0.24,0.49,-0.25,NM_015423,0.372796,0.837431,0.464635
3,AATF,66.13,49.56,-0.42,12.95,14.69,0.18,-0.60,110.76,15.55,...,19.62,-0.36,-2.47,-1.62,-0.09,-1.53,NM_012138,0.253192,0.267174,0.013982
4,ABCA7,4.59,6.06,0.40,2.96,3.42,0.21,0.19,1.60,0.78,...,6.79,0.12,-1.16,-0.32,0.17,-0.48,NM_019112,-0.872929,-1.008692,-0.135763
5,ABCB6,61.78,88.19,0.51,14.09,15.32,0.12,0.39,24.86,12.44,...,27.87,0.29,-1.29,-0.24,0.21,-0.45,NM_005689,-1.077833,-0.989989,0.087844
6,ABCB7,66.89,100.77,0.59,25.90,33.04,0.35,0.24,38.62,38.62,...,25.30,0.03,-0.03,0.30,0.19,0.10,NM_004299,-0.721070,-0.460770,0.260300
7,ABCC1,29.32,32.11,0.13,3.84,3.89,0.02,0.11,14.86,10.94,...,10.29,0.58,-1.02,-0.16,0.30,-0.45,NM_004996,-0.126532,-0.356293,-0.229761
8,ABCC4,27.17,33.44,0.30,20.33,18.89,-0.11,0.41,32.75,26.10,...,22.72,0.36,-0.69,-0.01,0.13,-0.14,NM_005845,-0.287321,-0.723842,-0.436522
9,ABCC5,9.76,18.78,0.94,6.60,7.30,0.15,0.80,193.10,417.91,...,8.26,0.29,0.83,1.03,0.22,0.81,NM_005688,-0.087511,0.066987,0.154499

m6A_miRNA1 gene: 2909

,Gene_symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,TE_log2(siYTHDF1/siControl)1,siControl_ribo2,siYTHDF1_ribo2,...,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave,Ref_seq,miRNA_rnaseq_log2fc,miRNA_footprint_log2fc,miRNA_TranslEff_log2fc
0,AAMP,36.81,127.20,1.79,13.09,11.63,-0.17,1.96,46.72,22.51,...,45.91,0.19,-1.25,0.37,0.01,0.36,NM_001087,0.108536,-0.148341,-0.256878
1,AARS,706.51,315.19,-1.16,117.73,128.06,0.12,-1.29,161.81,88.49,...,131.65,0.01,-0.88,-1.02,0.06,-1.08,NM_001605,0.295220,0.155953,-0.139267
2,AARS2,7.80,11.03,0.50,2.62,3.18,0.28,0.22,2.92,2.23,...,8.05,-0.17,-0.22,0.06,0.06,0.00,NM_020745,-0.037103,0.341240,0.378343
3,AASDHPPT,34.79,60.04,0.79,29.88,40.08,0.42,0.36,83.91,67.69,...,47.11,0.56,-0.87,0.24,0.49,-0.25,NM_015423,-0.149430,0.199031,0.348461
4,ABCA7,4.59,6.06,0.40,2.96,3.42,0.21,0.19,1.60,0.78,...,6.79,0.12,-1.16,-0.32,0.17,-0.48,NM_019112,0.059286,-0.544331,-0.603617
5,ABCB6,61.78,88.19,0.51,14.09,15.32,0.12,0.39,24.86,12.44,...,27.87,0.29,-1.29,-0.24,0.21,-0.45,NM_005689,0.172084,0.493312,0.321228
6,ABCB7,66.89,100.77,0.59,25.90,33.04,0.35,0.24,38.62,38.62,...,25.30,0.03,-0.03,0.30,0.19,0.10,NM_004299,0.282817,0.776645,0.493828
7,ABCC1,29.32,32.11,0.13,3.84,3.89,0.02,0.11,14.86,10.94,...,10.29,0.58,-1.02,-0.16,0.30,-0.45,NM_004996,-0.008223,-0.186587,-0.178365
8,ABCC5,9.76,18.78,0.94,6.60,7.30,0.15,0.80,193.10,417.91,...,8.26,0.29,0.83,1.03,0.22,0.81,NM_005688,0.797424,0.752382,-0.045042
9,ABCD1,22.44,22.22,-0.01,6.08,6.10,0.00,-0.02,15.94,8.88,...,18.56,0.37,-1.22,-0.43,0.19,-0.62,NM_000033,-0.283458,0.384586,0.668045

m6A_miRNA155 gene 3511

#PARPLIP,SILACの実験から結合が観測された遺伝子リストを呼ぶ

In [72]:
miRNA1_target=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/miRNA1_target_list.csv")
miRNA155_target=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/miRNA155_target_list.csv")
YTHDF_target=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/PARCLIP_target.csv")

YTHDF_target.columns=['Gene_symbol']
print(len(miRNA1_target),len(miRNA155_target),len(YTHDF_target))
display(miRNA1_target.head(10))
display(miRNA155_target.head(10))
display(YTHDF_target.head(10))

853 707 5662

     Ref_seq
0  NM_017847
1  NM_014739
2  NM_017845
3  NM_001514
4  NM_004035
5  NM_030571
6  NM_002850
7  NM_004423
8  NM_002737
9  NM_002731

        Ref_seq
0     NM_018983
1     NM_001516
2     NM_004741
3  NM_001024847
4     NM_004035
5     NM_002853
6     NM_012262
7     NM_016081
8     NM_012464
9     NM_006830

  Gene_symbol
0        MLL2
1       SRCAP
2        PLEC
3        DAG1
4       BCL9L
5        AHRR
6       IGF1R
7      SLC7A1
8      NFE2L1
9        TUG1

In [73]:
refseq_genesymgol=pd.read_csv("/Users/miyakesho/Google_Drive/master/research/csv/Ref_seq_to_Gene_symbol.csv")
refseq_genesymgol.columns=["Ref_seq",'Gene_symbol']
display(refseq_genesymgol.head(10))
display(len(refseq_genesymgol))

     Ref_seq   Gene_symbol
0  NR_148357  LOC102725121
1  NR_046018       DDX11L1
2  NM_139163        FLACC1
3  NR_106918     MIR6859-1
4  NR_107062     MIR6859-2
5  NR_107063     MIR6859-3
6  NR_128720     MIR6859-4
7  NR_036051     MIR1302-2
8  NR_036266     MIR1302-9
9  NR_036267    MIR1302-10

74873

In [74]:
merge_miRNA1=pd.merge(miRNA1_target,refseq_genesymgol,how="left",on="Ref_seq")
merge_miRNA155=pd.merge(miRNA155_target,refseq_genesymgol,how="left",on="Ref_seq")
merge_miRNA1.columns=["Ref_seq",'Gene_symbol']
merge_miRNA155.columns=["Ref_seq",'Gene_symbol']
display(merge_miRNA1.head(10))
display(merge_miRNA155.head(10))

     Ref_seq Gene_symbol
0  NM_017847        ODR4
1  NM_014739      BCLAF1
2  NM_017845      COMMD8
3  NM_001514       GTF2B
4  NM_004035       ACOX1
5  NM_030571      NDFIP1
6  NM_002850       PTPRS
7  NM_004423        DVL3
8  NM_002737       PRKCA
9  NM_002731      PRKACB

        Ref_seq Gene_symbol
0     NM_018983        GAR1
1     NM_001516      GTF2H3
2     NM_004741       NOLC1
3  NM_001024847      TGFBR2
4     NM_004035       ACOX1
5     NM_002853        RAD1
6     NM_012262      HS2ST1
7     NM_016081       PALLD
8     NM_012464        TLL1
9     NM_006830      UQCR11

#ベン図作成のためのヒット遺伝子をカウント

In [75]:
#miRNA1
miRNA1_miRNA1_target=pd.merge(m6A_miRNA1,merge_miRNA1,on="Gene_symbol")
miRNA1_m6A_target=pd.merge(m6A_miRNA1,YTHDF_target,on="Gene_symbol")
miRNA1_both_target=pd.merge(miRNA1_miRNA1_target,miRNA1_m6A_target,on="Gene_symbol")
print(len(miRNA1_both_target),len(miRNA1_m6A_target),len(miRNA1_miRNA1_target))

526 1614 799

In [42]:
merge_YTHDF_miRNA1=pd.merge(merge_miRNA1,YTHDF,on="Gene symbol")
YTHDF_miRNA1=len(merge_YTHDF_miRNA1)

merge_YTHDF_miRNA155=pd.merge(merge_miRNA155,YTHDF,on="Gene symbol")
YTHDF_miRNA155=len(merge_YTHDF_miRNA155)

merge_miRNA1_miRNA155=pd.merge(merge_miRNA1,merge_miRNA155,on="Gene symbol")
miRNA1_miRNA155=len(merge_miRNA1_miRNA155)

merge_three=pd.merge(merge_YTHDF_miRNA1,merge_miRNA1_miRNA155,on="Gene symbol")
three=len(merge_three)

YTHDF_miRNA1-=three
YTHDF_miRNA155-=three
miRNA1_miRNA155-=three

only_miRNA1=len(miRNA1)-YTHDF_miRNA1-miRNA1_miRNA155-three
only_miRNA155=len(miRNA155)-YTHDF_miRNA155-miRNA1_miRNA155-three
only_YTHDF=len(YTHDF)-YTHDF_miRNA1-YTHDF_miRNA155-three

print(only_miRNA1,only_miRNA155,only_YTHDF,YTHDF_miRNA1,YTHDF_miRNA155,miRNA1_miRNA155,three)

175 157 4860 396 268 144 138

In [47]:
import matplotlib.pyplot as plt
from matplotlib_venn import venn2, venn2_circles
venn2(subsets = (266 1102 512), set_labels = ('miRNA1 target', 'YTHDF target'))
plt.savefig("miRNA1_YTHDF1_target_venn.png",dpi=300)
venn2(subsets = (249 1634 400), set_labels = ('miRNA155 target', 'YTHDF target'))
plt.savefig("miRNA155_YTHDF1_target_venn.png",dpi=300)

ModuleNotFoundError: No module named 'matplotlib_venn'

このスクリプトを遺伝研スパコンに回させることで実行した